@import 'colors';

.calculator {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 400px;
    width: 100%;

    &__sex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border: 1px solid $dark-blue-2;
        border-radius: $border-radius;
        overflow: hidden;

        &-btn {
            display: block;
            border: 0;
            padding: 16px;
            background-color: transparent;
            cursor: pointer;
            color: #fff;
            @include transition(background-color);

            &--active {
                background-color: $dark-blue-2;
            }
        }
    }

    &__cell {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px;
        background-color: $dark-blue-2;
        border-radius: $border-radius;

        &-label {
            text-transform: uppercase;
        }

        &-value {
            font-weight: 700;
            font-size: 32px;
        }

        &-controls {
            display: flex;
            justify-content: center;
            gap: 16px;
            width: 100%;
        }

        &-btn {
            @include resetButton;
            display: block;
            width: 48px;
            height: 48px;
            background-color: $dark-blue-1;
            border-radius: 50%;
            font-weight: 500;
            font-size: 24px;
            color: #fff;
            cursor: pointer;
            @include transition(background-color);

            &:focus-visible,
            &:hover {
                background-color: $red;
            }
        }

        &-range {
            width: 100%;
            height: 4px;
            background: #ddd;
            border-radius: 5px;
            outline: none;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 20px;
                height: 20px;
                background: $red;
                border-radius: 50%;
                cursor: pointer;
                outline: 0px solid rgba(255, 255, 255, .05);
                transition: outline-width .3s ease-in-out;
    
                &:active {
                    outline-width: 6px;
                }
            }
        }

        &-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 8px;
        }

        &--inactive {
            opacity: .5;
            pointer-events: none;
        }
    }
}