@import 'colors';

.calculator {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 400px;
    width: 100%;

    &__sex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border: 1px solid $dark-blue-2;
        border-radius: $border-radius;
        overflow: hidden;

        &-btn {
            display: block;
            border: 0;
            padding: 16px;
            background-color: transparent;
            cursor: pointer;
            color: #fff;
            @include transition(background-color);

            &--active {
                background-color: $dark-blue-2;
            }
        }
    }

    &__cell {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px;
        background-color: $dark-blue-2;
        border-radius: $border-radius;
        @include transition(opacity);

        &-label {
            text-transform: uppercase;
        }

        &-value {
            font-weight: 700;
            font-size: 32px;
        }

        &-controls {
            display: flex;
            justify-content: center;
            gap: 16px;
            width: 100%;
        }

        &-btn {
            @include resetButton;
            display: block;
            width: 48px;
            height: 48px;
            background-color: $dark-blue-1;
            border-radius: 50%;
            font-weight: 500;
            font-size: 24px;
            color: #fff;
            cursor: pointer;
            @include transition(background-color);

            &:focus-visible,
            &:hover {
                background-color: $red;
            }
        }

        &-range {
            -webkit-appearance: none; // Убираем стандартный стиль для WebKit
            width: 100%; // Задаем ширину

            &::-webkit-slider-thumb {
                position: relative;
                -webkit-appearance: none; // Убираем стандартный стиль для WebKit
                appearance: none;
                width: 20px; // Ширина ползунка
                height: 20px; // Высота ползунка
                background: $red; // Цвет ползунка
                border-radius: 50%; // Закругление ползунка
                cursor: pointer; // Курсор для ползунка
                margin-top: -8px; // Сдвиг ползунка вверх, чтобы выровнять его по центру
            }

            &::-webkit-slider-runnable-track {
                width: 100%; // Ширина трека
                height: 4px; // Высота трека
                background: #ddd; // Цвет трека
                border-radius: 5px; // Закругление трека
            }

            &::-moz-range-thumb {
                position: relative;
                width: 20px; // Ширина ползунка для Firefox
                height: 20px; // Высота ползунка для Firefox
                background: $red; // Цвет ползунка для Firefox
                border-radius: 50%; // Закругление ползунка для Firefox
                cursor: pointer; // Курсор для ползунка
            }

            &::-moz-range-track {
                width: 100%; // Ширина трека для Firefox
                height: 4px; // Высота трека для Firefox
                background: #ddd; // Цвет трека для Firefox
                border-radius: 5px; // Закругление трека для Firefox
            }

            &::-ms-thumb {
                position: relative;
                width: 20px; // Ширина ползунка для IE
                height: 20px; // Высота ползунка для IE
                background: $red; // Цвет ползунка для IE
                border-radius: 50%; // Закругление ползунка для IE
            }

            &::-ms-track {
                width: 100%; // Ширина трека для IE
                height: 4px; // Высота трека для IE
                background: #ddd; // Цвет трека для IE
                border-radius: 5px; // Закругление трека для IE
                border: none; // Убираем границы
                color: transparent; // Убираем цвет
            }
        }

        &-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 8px;
        }

        &--inactive {
            opacity: .5;
            pointer-events: none;
        }
    }
}